/*
Theme Name: GoMedia Child
Theme URI: http://www.theme-junkie.com/themes/gomedia/
Template: gomedia
Author: Theme Junkie
Author URI: http://www.theme-junkie.com
Description: GoMedia is a fresh magazine theme with a modern, elegant design and fully responsive. Therefore GoMedia is perfect for online magazines websites, news websites, personal blogs or community blogs.
Tags: two-columns,left-sidebar,custom-background,custom-menu,editor-style,threaded-comments,translation-ready
Version: 1.0.6.1578550494
Updated: 2020-01-09 07:14:54

*/

@media (min-width: 500) {
    .entry-content ul {
        margin: 20px 0px 20px 0px;
        padding: 5px;
        word-wrap: break-word;
        list-style-position: outside;
    }
}

@media (max-width: 988px) {
    .wp-caption {
        /* Force the box to be 100% */
        width: 100% !important;
    }
    #content .wp-caption a img {
        /* Scale down if too big */
        max-width: 99.03225806%;
        /* 614/620 */
        height: auto;
    }
    .site-main h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 20px;
    }
    .site-main p {
        margin-bottom: 10px;
    }
    .site-main {
        font-size: 17px;
    }
}

.simple-sitemap-container {
    word-wrap: break-word;
    word-break: break-all;
}

.breadcrumb_last {
    display: none;
}

#subsidiary-nav {
    font-size: 16px!important;
}

.backtotop {
    padding-left: 50%;
    font-size: 13px!important;
}

#site-bottom ul li {
    padding-left: 10px!important;
}

.entry-content ul,
.entry-content ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

.wp-caption-text {
    font-size: 12px;
    margin-bottom: 20px;
}

@media only screen and (max-width:599px) {
    .backtotop {
        margin-left: 50%;
    }
}

.site-info {
    display: none;
}

#sidebar-2 {
    display: none;
}

@media (max-width: 992px) {
    .entry-info.entry-header.col-md-2 {
        display: none;
    }
}

.author-box .avatar {
    margin-left: auto;
    margin-right: auto;
}

.wp-caption-text {
    font-size: 10px;
}

#site-bottom {
    margin-top: 0px;
}

#footer {
    padding: 0px;
}

#subscribe-email [type="email"] {
    margin: 3px 0;
    padding: 1px 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: Poppins;
    src: url('assets/fonts/poppins-v9-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'), url('assets/fonts/poppins-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/poppins-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/poppins-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/poppins-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/poppins-v9-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

#secondary-nav {
    clear: both;
}

#logo {
    float: none;
}

#custom_html-2 {
    text-align: right;
}

.content-loop .hentry .entry-date {
    display: none;
}

.content-loop .hentry,
.content-loop .hentry:hover {
    background: none;
}

.content-loop .hentry .entry-category {
    top: 40px;
}

.entry-date.published {
    display: none;
}

img.wpsp-logo {
    border-radius: none!important;
}

.wpsp-logo {
    border-radius: 0%;
}

.screen-reader-text {
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    padding-right: 0px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

#navbarSupportedContent {
    background: transparent;
}

#menu-second_menu {
    display: inline;
}

#menu-second_menu li {
    float: left;
}

#menu-second_menu li a {
    padding: 0 20px;
    color: #ffffff;
    font-size: 1em;
    line-height: 60px;
    display: inline-block;
}

#secondary-nav .navbar-toggler {
    display: none;
    font-size: inherit;
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background: #ededf0;
    color: #666666;
    padding-top: 0.8em;
}

@media (max-width: 988px) {
    #menu-second_menu li {
        float: none;
    }
    #menu-second_menu li a {
        padding: 0 20px;
        color: #007bb6;
        font-size: 1em;
        line-height: 60px;
        display: inline-block;
    }
    #secondary-nav .navbar-toggler {
        display: block;
        width: 100%;
        height: 45px;
    }
    #menu-second_menu {
        display: inline;
        background: White;
        padding: 1em;
    }
    #navbarSupportedContent {
        background: white;
    }
    #menu-second_menu li a {
        padding: 0 20px;
        font-size: 1em;
        line-height: 35px;
        display: block;
        color: #007bb6;
    }
    #secondary-nav .sf-menu li a {
        padding: 0 20px;
        color: #007bb6;
        font-size: 1em;
        line-height: 50px;
    }
}